NODE_ENV=development
PORT=8080
LISTEN_URL=localhost
# Mongodb
DB_CONNECT=mongodb://0.0.0.0:27017
# OKTA OIDC
SECRET=#####################
ISSUER=https://dev-86476857.okta.com/oauth2/default
AUTHORIZATION_URL=https://dev-86476857.okta.com/oauth2/default/v1/authorize
TOKEN_URL=https://dev-86476857.okta.com/oauth2/default/v1/token
USER_INFO_URL=https://dev-86476857.okta.com/oauth2/default/v1/userinfo
CLIENT_ID=#####################
CLIENT_SECRET=#####################