<div class="container">
  <div class="jumbotron jumbotron-fluid my-4">
    <div class="container">
      <h1 class="display-4">Login page</h1>
      <p class="lead">Please enter your username and password to login and access the application.</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <form class="col-4" (submit)="login()">
      <div class="mb-3">
        <label for="emailField" class="form-label">Username</label>
        <input
          type="text"
          [(ngModel)]="userName"
          class="form-control"
          id="emailField"
          placeholder="username"
          required
          name="login"
        />
      </div>
      <div class="mb-3">
        <label for="passwordField" class="form-label">Password</label>
        <input
          type="password"
          [(ngModel)]="userPassword"
          class="form-control"
          id="passwordField"
          placeholder="*********"
          required
          name="password"
        />
      </div>
      <div class="mb-3">
        <button type="submit" (click)="login()" class="btn btn-primary mb-3">Login</button>
      </div>
    </form>
  </div>
</div>
