<div class="card" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <div *ngFor="let partner of namePercentData">
      <div class="row">
        <div class="col mb-2">{{ partner.name }}</div>
        <div class="col text-end text-muted">{{ partner.percent }}</div>
      </div>
      <div class="progress mb-2">
        <div
          class="progress-bar"
          role="progressbar"
          [style.width]="partner.percent + '%'"
          aria-valuenow="50"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
  </div>
</div>
