<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ title }}</h5>
      <div *ngFor="let partner of partnerList">
         
      <div class="row">
          <div class="col">{{ partner.name }}</div>
          <div class="col">{{ partner.percent }}</div>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" [style.width]="partner.percent+'%'" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    </div>
  </div>