<template class="card m-auto">
  <div class="card-body" *ngIf="chartOptions !== undefined && chartOptions?.chart !== undefined">
    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="chartOptions"
      [(update)]="updated"

      style="width: 100%; height: 400px; display: block;"
    ></highcharts-chart>
  </div>
  <!-- Loading -->
  <div class="card-body skeleton py-4" *ngIf="chartOptions === undefined">
    <div class="d-flex flex-column my-4">
      <div class="col-12 d-flex justify-content-center">
        <span class="material-icons loading"> refresh </span>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <div>Loading...</div>
      </div>
    </div>
  </div>
  <!-- No data -->
  <div class="card-body skeleton d-flex flex-column my-4 py-4" *ngIf="chartOptions !== undefined && chartOptions?.chart === undefined">
    <div class="col-12 d-flex justify-content-center">
      <span class="material-icons"> cloud_off </span>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <div>No data found currently.</div>
    </div>
  </div>
</template>
