<div class="container d-flex flex-column">
  <div class="jumbotron jumbotron-fluid my-4">
    <div class="container">
      <h1 class="display-4">Import data</h1>
      <p class="lead">To import your data properly please make sure to:</p>
      <ol>
        <li>Select the data type.</li>
        <li>Select the according file.</li>
        <li>If the file is validated, start the import.</li>
      </ol>
      <p class="lead">The upload and processing might take time if the file is too large.</p>
    </div>
  </div>
  <div class="row justify-content-center" style="height: 35vh">
    <div class="alerts-container">
      <div class="d-flex align-items-center alert alert-primary mt-2" role="alert" *ngIf="fileInfo">
        <span class="material-icons"> info </span>&nbsp; {{ fileInfo }}
      </div>
      <div class="d-flex align-items-center alert alert-warning mt-2" role="alert" *ngIf="fileWarning">
        <span class="material-icons"> warning </span>&nbsp; {{ fileWarning }}
      </div>
      <div class="d-flex align-items-center alert alert-danger mt-2" role="alert" *ngIf="fileError">
        <span class="material-icons"> report </span>&nbsp; {{ fileError }}
      </div>
      <div class="d-flex align-items-center alert alert-success mt-2" role="alert" *ngIf="fileSuccess">
        <span class="material-icons"> done </span>&nbsp; {{ fileSuccess }}
      </div>
    </div>
    <div class="col-6">
      <div class="col-6 mt-2">
        <select class="form-select" aria-label="Data file type" (change)="dataTypeChange($event)">
          <option selected disabled="disabled">Please select a type</option>
          <option [value]="ExpectedCSVColumns.Connections">Connections</option>
          <option [value]="ExpectedCSVColumns.Transactions">Transactions</option>
          <option [value]="ExpectedCSVColumns.Partners">Partners</option>
          <option [value]="ExpectedCSVColumns.Entity">Entity</option>
        </select>
      </div>
      <div class="col-6">
        <label for="csv-input" class="d-flex align-items-center btn btn-secondary btn-lg my-2">
          <span class="material-icons" *ngIf="!loading"> upload_file </span>
          <span class="material-icons loading" *ngIf="loading"> refresh </span>
          &nbsp; {{ fileName }}
          <input type="file" id="csv-input" accept=".csv" (change)="loadCSV($event)" [disabled]="expectedCsvColumns === null"/>
        </label>
      </div>
      <div class="col-6">
        <button type="button" class="d-flex align-items-center btn btn-primary btn-lg" [disabled]="parsedCSV === null" (click)="startUpload()">
          <span class="material-icons"> restart_alt </span>&nbsp; Start import
        </button>
      </div>
      <div class="progress my-2" *ngIf="progress > 0">
        <div
          class="progress-bar"
          role="progressbar"
          [style.width]="progress + '%'"
        ></div>
      </div>
    </div>
  </div>
</div>
