<template class="d-flex flex-column">
  <a href="/" class="d-block p-3 link-dark text-decoration-none">
    <img src="./assets/brand-logo.jpg" width="92px" class="rounded-circle" />
  </a>
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
      <a routerLink="/dashboard" class="nav-link py-3 border-bottom" routerLinkActive="active">
        <span class="material-icons fs-1">insights</span>
      </a>
    </li>
    <li>
      <a routerLink="/data-table" class="nav-link py-3 border-bottom" routerLinkActive="active">
        <span class="material-icons fs-1">table_chart</span>
      </a>
    </li>
    <li>
      <a routerLink="/users" class="nav-link py-3 border-bottom" routerLinkActive="active">
        <span class="material-icons fs-1">group</span>
      </a>
    </li>
    <li>
      <a routerLink="/emails" class="nav-link py-3 border-bottom" routerLinkActive="active">
        <span class="material-icons fs-1">mail</span>
      </a>
    </li>
    <li>
      <a routerLink="/settings" class="nav-link py-3 border-bottom" routerLinkActive="active">
        <span class="material-icons fs-1">settings</span>
      </a>
    </li>
    <li>
      <div class="form-check form-switch d-flex justify-content-center py-3">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
      </div>
    </li>
  </ul>
</template>
