<template class="d-flex flex-column" style="height: 100%;">
  <a href="/" class="d-block p-0 link-dark text-decoration-none d-flex justify-content-center mb-2">
    <img src="./assets/brand-logo.jpg" width="64px" class="rounded-circle" />
  </a>
  <ul class="nav nav-pills nav-flush d-flex flex-column mb-auto text-center mt-4" style="height: 100%;">
    <li class="nav-item">
      <a routerLink="/dashboard" class="nav-link py-3" routerLinkActive="active">
        <span class="material-icons fs-1">insights</span>
      </a>
    </li>
    <li>
      <a routerLink="/data-table" class="nav-link py-3" routerLinkActive="active">
        <span class="material-icons fs-1">table_chart</span>
      </a>
    </li>
    <li>
      <a routerLink="/users" class="nav-link py-3" routerLinkActive="active">
        <span class="material-icons fs-1">group</span>
      </a>
    </li>
    <li>
      <a routerLink="/import" class="nav-link py-3" routerLinkActive="active">
        <span class="material-icons fs-1">upload_file</span>
      </a>
    </li>
    <li class="mt-auto">
      <a routerLink="/logout" class="nav-link py-3" routerLinkActive="active">
        <span class="material-icons fs-1">logout</span>
      </a>
    </li>
    <li>
      <div class="form-check form-switch d-flex justify-content-center py-3">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" [checked]="theme" (change)="theme = !theme">
      </div>
    </li>
  </ul>
</template>
